################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ManagerIngest/ManagerIngest/bin/Debug/netcoreapp3.1
/ManagerIngest/ManagerIngest/obj/Debug/netcoreapp3.1/staticwebassets
/ManagerIngest/ManagerIngest/obj/Debug/netcoreapp3.1
